
*{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: rgb(48, 49, 50);
}
*:focus{
    outline:none;
}
#image{
    position: absolute;
    left: 450px; 
    bottom:100px;
    width: 500px;
    height: 500px;
}
#log{
        border-radius:10px;
        width: 500px;
        height: 500px;

}
img::before {
    content: "Image failed to load";
    display: block;
    text-align: center;
    color: red;
}
.input{
    position: absolute;
    left:350px; 
    bottom:20px;
    font-size:100px;
    
}
.input::placeholder{
    position: absolute;
    left:450px; 
    bottom:20px;
    color: black;
    text-align: center;
}

#ThePrompt{
    width: 500px;
    height: 55px;
    border-radius:50px;
    background:white;
    color: black;
    border:none;
    font-weight: bold;
    font-size:20px;
}
.button{
    width: 150px;
    height: 55px;
    border-radius:50px;
    background-color: rgb(0, 0, 0);
    color: white;
    outline: none;
    border: none;
}
.button:focus{
    width: 150px;
    height: 55px;
    border-radius:50px;
    background-color: rgb(0, 0, 0);
    color: white;
    outline: none;
}
h1{
    color: white;
text-align: center;
}
.button:hover{
    width: 150px;
    height: 55px;
    border-radius:50px;
    background-color: rgb(22, 22, 22);
    color: white;
    outline: none;
}
#loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 24px;
    display: none; /* Initially hide the loading icon */
}